<body class=" login" style="padding-bottom: 50px!important;">
    <div class="logo" style="margin: 0; ">
        <div class="container text-center">
            <h3 style="font-weight: bold; ">NLMS TEAM</h3>
        </div>
    </div>
    <div class="content" style="box-shadow: 0 10px 30px 0 rgba(68, 71, 72, 0.7);">
        <!-- BEGIN REGISTER FORM -->
        <form class="login-form" [formGroup]="userForm" method="POST">
            <h3 class="form-title" style="font-weight: 600; margin-top: 0;">Đăng Ký Tài Khoản</h3>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Full Name</label>
                <div class="input-icon">
                    <i class="fa fa-font"></i>
                    <input class="form-control placeholder-no-fix" type="text" formControlName="fullname" placeholder="Họ và Tên" name="fullname" /> </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">User Name</label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    <input class="form-control placeholder-no-fix" type="text" formControlName="userName" placeholder="Tên đăng nhập" name="username" /> </div>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Email</label>
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                    <input class="form-control placeholder-no-fix" type="text" formControlName="email" placeholder="Địa chỉ Email" name="email" /> </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Mật khẩu</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input class="form-control placeholder-no-fix" (keyup)="checkPass($event)" formControlName="password" type="password" autocomplete="off" id="register_password" placeholder="Mật khẩu" [(ngModel)]="pass" name="password" /> </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>
                <div class="controls">
                    <div class="input-icon">
                        <i *ngIf="!verifiPass" class="fa fa-check"></i>
                        <i *ngIf="verifiPass" class="fa fa-check" style="color: chartreuse"></i>
                        <input (keyup)="checkPass($event)" formControlName="repassword"  [(ngModel)]="repass" name="repass" class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Xác nhận mật khẩu" /> </div>
                </div>
            </div>
            <div class="form-actions" style="padding: 0 30px 50px;">                
                <button (click)="onRegister()" class="form-control btn green pull-right" style="background-color: #1E90FF; border: 1px solid #1E90FF; color: white;" > Đăng Ký </button>
            </div>
            <div class="login-options">
                <h4 style="color: black;">Đăng ký bằng:</h4>
                <ul class="social-icons">
                    <li>
                        <a class="facebook" data-original-title="facebook" href="javascript:;"> </a>
                    </li>
                    <li>
                        <a class="twitter" data-original-title="Twitter" href="javascript:;"> </a>
                    </li>
                    <li>
                        <a class="googleplus" data-original-title="Goole Plus" href="javascript:;"> </a>
                    </li>
                    <li>
                        <a class="linkedin" data-original-title="Linkedin" href="javascript:;"> </a>
                    </li>
                </ul>
            </div>
           
            <div class="create-account">
                <p> Bạn đã có tài khoản? &nbsp;
                    <a href="javascript:;" id="register-btn"> Đăng nhập ngay </a>
                </p>
            </div>
        </form>
        <!-- END REGISTER FORM -->
    </div>
   
</body>


