<div class="page-sidebar-wrapper">
  <!-- BEGIN SIDEBAR -->
  <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
  <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
  <div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true"
      data-slide-speed="200" style="padding-top: 20px">
      <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
      <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
      <li class="sidebar-toggler-wrapper hide">
        <div class="sidebar-toggler">
          <span></span>
        </div>
      </li>
      <!-- END SIDEBAR TOGGLER BUTTON -->
      <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->    
     
      <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="icon-puzzle"></i>
          <span class="title">Làm Đề</span>
          <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item  ">
            <a href="components_date_time_pickers.html" class="nav-link ">
              <span class="title">Đề Gợi Ý</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="components_color_pickers.html" class="nav-link ">
              <span class="title">Để Đã Lưu</span>
              <span class="badge badge-danger">2</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="components_select2.html" class="nav-link ">
              <span class="title">Đề Đang Làm</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="components_bootstrap_select.html" class="nav-link ">
              <span class="title">Đề Đã Mua</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="components_multi_select.html" class="nav-link ">
              <span class="title">Lịch Sử Làm Bài</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="components_bootstrap_multiselect_dropdown.html" class="nav-link ">
              <span class="title">Báo Cáo</span>
            </a>
          </li>       
        </ul>
      </li>

      <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="icon-puzzle"></i>
          <span class="title">Tạo Đề</span>
          <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item  ">
            <a href="components_date_time_pickers.html" class="nav-link ">
              <span class="title">Tạo Đề Mới</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="components_color_pickers.html" class="nav-link ">
              <span class="title">Quản Lý Đề Thi</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="components_select2.html" class="nav-link ">
              <span class="title">Báo Cáo</span>
            </a>
          </li>       
        </ul>
      </li>

      <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="icon-puzzle"></i>
          <span class="title">Bộ Sưu Tập</span>
          <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item  ">
            <a href="components_date_time_pickers.html" class="nav-link ">
              <span class="title">Khám Phá</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="components_color_pickers.html" class="nav-link ">
              <span class="title">Tạo Mới</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="components_select2.html" class="nav-link ">
              <span class="title">BST Đã Tạo</span>
            </a>
          </li>    
          <li class="nav-item  ">
            <a href="components_select2.html" class="nav-link ">
              <span class="title">BST Đã Lưu</span>
            </a>
          </li>  
          <li class="nav-item  ">
            <a href="components_select2.html" class="nav-link ">
              <span class="title">BST Đã Mua</span>
            </a>
          </li>     
        </ul>
      </li>
    </ul>
    <!-- END SIDEBAR MENU -->
    <!-- END SIDEBAR MENU -->
  </div>
  <!-- END SIDEBAR -->
</div>