<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<div class="w3-top">
  <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
   <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
   <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Logo</a>
   <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i class="fa fa-globe"></i></a>
   <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user"></i></a>
   <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i class="fa fa-envelope"></i></a>
   <div class="w3-dropdown-hover w3-hide-small">
     <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-green">3</span></button>     
     <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
       <a href="#" class="w3-bar-item w3-button">One new friend request</a>
       <a href="#" class="w3-bar-item w3-button">John Doe posted on your wall</a>
       <a href="#" class="w3-bar-item w3-button">Jane likes your post</a>
     </div>
   </div>
   <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
     <img src="/w3images/avatar2.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
   </a>
  </div>
 </div> -->

<div class="page-header navbar navbar-fixed-top">
  <div class="page-header-inner ">
    <div class="page-logo">
      <a href="#">
        <img src="https://cmcglobal.com.vn/wp-content/uploads/2019/06/logo.svg" style="margin: 5px;" height="40px" alt="logo"
          class="logo-default" /> </a>
      <div class="menu-toggler sidebar-toggler">
        <span></span>
      </div>
    </div>
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
      data-target=".navbar-collapse">
      <span></span>
    </a>
    <div class="top-menu">
      <ul class="nav navbar-nav pull-right">
        <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
            data-close-others="true">
            <i class="icon-bell"></i>
            <span class="badge badge-default"> 7 </span>
          </a>
          <ul class="dropdown-menu">
            <li class="external">
              <h3>
                <span class="bold">12 pending</span> notifications</h3>
              <a href="#">view all</a>
            </li>
            <li>
              <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                <li>
                  <a href="javascript:;">
                    <span class="time">just now</span>
                    <span class="details">
                      <span class="label label-sm label-icon label-success">
                        <i class="fa fa-plus"></i>
                      </span> New user registered. </span>
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <span class="time">3 mins</span>
                    <span class="details">
                      <span class="label label-sm label-icon label-danger">
                        <i class="fa fa-bolt"></i>
                      </span> Server #12 overloaded. </span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
            data-close-others="true">
            <i class="icon-envelope-open"></i>
            <span class="badge badge-default"> 4 </span>
          </a>
          <ul class="dropdown-menu">
            <li class="external">
              <h3>You have
                <span class="bold">7 New</span> Messages</h3>
              <a href="#">view all</a>
            </li>
            <li>
              <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
                <li>
                  <a href="#">
                    <span class="photo">
                      <img src="#" class="img-circle" alt=""> </span>
                    <span class="subject">
                      <span class="from"> Lisa Wong </span>
                      <span class="time">Just Now </span>
                    </span>
                    <span class="message"> Vivamus sed auctor nibh congue nibh. auctor nibh auctor nibh... </span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="photo">
                      <img src="#" class="img-circle" alt=""> </span>
                    <span class="subject">
                      <span class="from"> Richard Doe </span>
                      <span class="time">16 mins </span>
                    </span>
                    <span class="message"> Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh auctor nibh...
                    </span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown dropdown-extended dropdown-tasks" id="header_task_bar">
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
            data-close-others="true">
            <i class="icon-calendar"></i>
            <span class="badge badge-default"> 3 </span>
          </a>
          <ul class="dropdown-menu extended tasks">
            <li class="external">
              <h3>You have
                <span class="bold">2 pending</span> tasks</h3>
              <a href="#">view all</a>
            </li>
            <li>
              <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
                <li>
                  <a href="javascript:;">
                    <span class="task">
                      <span class="desc">New release v1.2 </span>
                      <span class="percent">30%</span>
                    </span>
                    <span class="progress">
                      <span style="width: 40%;" class="progress-bar progress-bar-success" aria-valuenow="40"
                        aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">40% Complete</span>
                      </span>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <span class="task">
                      <span class="desc">Application deployment</span>
                      <span class="percent">65%</span>
                    </span>
                    <span class="progress">
                      <span style="width: 65%;" class="progress-bar progress-bar-danger" aria-valuenow="65"
                        aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">65% Complete</span>
                      </span>
                    </span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown dropdown-user">
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
            data-close-others="true">
            <img alt="" class="img-circle" src="https://www.realmadrid.com/cs/Satellite?blobcol=urldata&blobheader=image%2Fjpeg&blobkey=id&blobtable=MungoBlobs&blobwhere=1203355061615&ssbinary=true" />
            <span class="username username-hide-on-mobile"> KaKa' </span>
            <i class="fa fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-default">
            <li>
              <a href="#">
                <i class="icon-user"></i> My Profile </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-calendar"></i> My Calendar </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-envelope-open"></i> My Inbox
                <span class="badge badge-danger"> 3 </span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-rocket"></i> My Tasks
                <span class="badge badge-success"> 5 </span>
              </a>
            </li>
            <li class="divider"> </li>
            <li>
              <a href="#">
                <i class="icon-lock"></i> Lock Screen </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-key"></i> Log Out </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>