<body class=" login" style="padding-bottom: 50px!important;">
    <div class="logo" style="margin: 0; ">
        <div class="container text-center">
            <h3 style="font-weight: bold; ">NLMS TEAM</h3>
        </div>
    </div>
    <div class="content" style="box-shadow: 0 10px 30px 0 rgba(68, 71, 72, 0.7);">
        <!-- BEGIN LOGIN FORM -->
        <form  [formGroup]="userLogin" class="login-form" method="POST">
            <h3 class="form-title" style="font-weight: 600; margin-top: 0;">Đăng Nhập</h3>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span> Nhập vào email và mật khẩu </span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Email</label>
                <div class="input-icon">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <input class="form-control placeholder-no-fix" name="email" formControlName="email" type="text" autocomplete="off" placeholder="Nhập địa chỉ email" /> </div>
                    <div *ngIf="userLogin.controls['email'].errors && !userLogin.controls['email'].pristine" class="error-msg" style="color: red;">
                            
                            <div [hidden]="!userLogin.controls['email'].errors.pattern">Email sai định dạng</div>
                          </div>
                          
                </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Mật khẩu</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input class="form-control placeholder-no-fix" type="password" autocomplete="off"
                        placeholder="Nhập mật khẩu" name="password" formControlName="password" /> </div>                      
            </div>
            <div class="form-actions">
                <label class="rememberme mt-checkbox mt-checkbox-outline">
                    <input type="checkbox" name="remember" value="1" /> Ghi nhớ mật khẩu
                    <span></span>
                </label>
                <button  (click)="onLogin()" class="btn green pull-right" style="background-color: #1E90FF; border: 1px solid #1E90FF; color: white;" > Đăng nhập </button>
            </div>
            <div class="login-options">
                <h4 style="color: black;">Đăng nhập với:</h4>
                <ul class="social-icons">
                    <li>
                        <a class="facebook" data-original-title="facebook" href="javascript:;"> </a>
                    </li>
                    <li>
                        <a class="twitter" data-original-title="Twitter" href="javascript:;"> </a>
                    </li>
                    <li>
                        <a class="googleplus" data-original-title="Goole Plus" href="javascript:;"> </a>
                    </li>
                    <li>
                        <a class="linkedin" data-original-title="Linkedin" href="javascript:;"> </a>
                    </li>
                </ul>
            </div>
            <div class="forget-password">
                <a href="">Quên mật khẩu?</a>
               
            </div>
            <div class="create-account">
                <p> Bạn chưa có tài khoản? &nbsp;
                    <a href="javascript:;" id="register-btn"> Đăng ký miễn phí </a>
                </p>
            </div>
        </form>
        <!-- END LOGIN FORM -->
    </div>
   
</body>
