<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.angularjs.org/snapshot/angular.min.js"></script>

<div>
  <div class="navbar1">
    <div style="float: left">
      <b style="color: blue;margin-left: 8px">Câu hỏi trắc nghiệm HTML/ JS</b>
    </div>
    <div style="float: right">
      <button class="btn btn-primary" style="margin-right: 5px" type="button" data-target="#myModal" data-toggle="modal"
        (click)="leveltest()"><i class="fa fa-check" aria-hidden="true" style="color: white"></i>
        Nộp bài</button>
    </div>
  </div>
</div>
<br><br><br><br>
<div>
  <div class="row">
    <div class="col-md-3" style="padding:0 60px 0 30px">
      <b style="font-size: 18px"><i class="fa fa-bars" aria-hidden="true"
          style="color: rgb(6, 209, 209)"></i>&nbsp;&nbsp;Bảng chọn đáp án</b><br><br>
      <p *ngFor="let z of questionQuantity; let p = index" [ngStyle]="{'color' : p > -1 ? 'red' : 'black'}"
        style="display: inline-block">
        <button [attr.id]="p" type="button" class="btn" style="display: inline-block;width: 40px"
          (click)="leftQuestionList(p)">{{z}}</button>&nbsp;&nbsp;
      </p>

    </div>
    <!-- <div class="col-md-8" *ngFor="let x of questionArray; let i = index" style="font-weight: bold; font-size: 18px">
      <div *ngIf="count == i">
        Câu {{count+1}}<br><br>
        {{x.questionContent}}<br><br><br><br>
        <input type="{{x.answerType}}" name="{{count}}" value="{{x.answerContent.answerA}}" (click)="changeColor(i)">
        {{x.answerContent.answerA}}<br>
        <input type="{{x.answerType}}" name="{{count}}" value="{{x.answerContent.answerB}}" (click)="changeColor(i)">
        {{x.answerContent.answerB}}<br>
        <input type="{{x.answerType}}" name="{{count}}" value="{{x.answerContent.answerC}}" (click)="changeColor(i)">
        {{x.answerContent.answerC}}<br>
        <input type="{{x.answerType}}" name="{{count}}" value="{{x.answerContent.answerD}}" (click)="changeColor(i)">
        {{x.answerContent.answerD}}<br>
      </div>
    </div> -->
    <div class="col-md-8" style="font-weight: bold; font-size: 18px">
      <!-- Câu {{z+1}}<br><br> -->
      {{currentQuestion.questionContent}}<br><br><br><br>
      <div *ngFor="let asw of currentQuestion.answerContent">
        <input type="{{currentQuestion.answerType}}" name="{{currentQuestion.questionContent}}"
          [value]="asw.answer" (change)="_selectAnswer(asw)" [checked]="asw.checked">
        {{asw.answer}}<br>
      </div>
    </div>

  </div>

  <div>
    <div class="navbar">
      <div class="row">
        <div class="col-md-4">
          <div *ngIf="checkbtnPrevious == 1">
            <button class="btn btn-primary" type="button" (click)="previousButton()">Previous</button>
            <!-- <a href="#" class="next" (click)="previusButton()">Previous &raquo;</a> -->
          </div>
        </div>
        <div class="col-md-4">

          <b>Thời gian còn lại: <countdown [config]="{leftTime: timeLeft}">&nbsp; &nbsp;$!h!:$!m!:$!s!</countdown></b>
        </div>
        <div class="col-md-4">
          <div *ngIf="checkbtnNext == 1">
            <button class="btn btn-primary" style="float: right" type="button" (click)="nextButton()">Next</button>

            <!-- <a href="#" class="next" style="float: right" (click)="nextButton()">Next &raquo;</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- Modal -->
  <div id="myModal" class="modal" role="dialog">

    <div class="modal-dialog">
      <div class="row">
        <!-- Modal content-->
        <div class="modal-content">

          <div class="col-md-6">
            <div class="centerbutton">
              <input type="button" value="{{level}}" class="level">
            </div>
            <div>

              <h1 style="color: rgb(224, 235, 235);width: 30px;height: 30px; padding-left: 95px">
                <span style="color: aqua">{{percent}}</span>/{{tallquestion}}</h1>
              <div class="progess-test">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40"
                  aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%': percentCorect}">
                  {{percentCorect}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <p>Cảm ơn bạn đã sử dụng trang web của chúng tôi, hãy cố gắng thật nhiều nhé</p>
            <button type="button" class="level">xem ket qua</button>
          </div>
        </div>
      </div>
    </div>