body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 8px 8px 0 0;
  }
  
  .navbar1 {
    overflow: hidden;
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 8px 8px 0 8px;
  }

  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  /* .active,.next1:hover{
    background-color: red;
  } */
  
  .previous {
    background-color: rgb(97, 97, 212);
    color: black;
  }
  
  .next1 {
    background-color: rgb(170, 170, 187);
    color: black;
  } 

  .level{
    background-color: white;
    border-color: rgb(86, 236, 149);
    vertical-align: 50%;
    height:34px;
    color: rgb(20, 221, 27);
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

.col-sm-6{
    height: 150px;
    text-align:center;
    padding-left: 50 px;
}
.modal-dialog{
    background-color: white;
    border: #4CAF50 solid;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

.centerbutton{
    text-align: center;
    display: flex; justify-content: center;
    margin-top: 15px;
}
.progess-test{
    margin-bottom: 20px;
    background-color: #f5f5f5;
    box-shadow: none;
    height: 15px;
    border: 0;
    filter: none;
    border-radius: 5px;
    margin-left: 5px
}

.strike {
  text-decoration: line-through;
}


.next1:focus{
  border: 1px solid #0000ff;
}