<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css">




<div class="container">
  <h2>Modal Example</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content" style="width: 80%">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">


          <div class="profile-content">
            <div class="row">
              <div class="col-md-12">
                <div class="portlet light ">
                  <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                      <i class="icon-globe theme-font hide"></i>
                      <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                    </div>
                    <ul class="nav nav-tabs">
                      <li class="active">
                        <a href="#tab_1_1" data-toggle="tab">Personal Info</a>
                      </li>
                      <li>
                        <a href="#tab_1_2" data-toggle="tab">Change Avatar</a>
                      </li>
                      <li>
                        <a href="#tab_1_3" data-toggle="tab">Change Password</a>
                      </li>

                    </ul>
                  </div>
                  <div class="portlet-body">
                    <div class="tab-content">
                      <!-- PERSONAL INFO TAB -->
                      <div class="tab-pane active" id="tab_1_1">
                        <div class="portlet-body">
                          <!-- BEGIN FORM-->
                          <form action="#" id="form_sample_1" class="form-horizontal">
                            <div class="form-body">
                              <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button> Vui Lòng Điền Đầy Đủ Thông Tin.
                              </div>
                              <div class="alert alert-success display-hide">
                                <button class="close" data-close="alert"></button> Your form validation is successful!
                              </div>
                              <div class="form-group">
                                <label class="control-label col-md-3">Full Name
                                  <span class="required"> * </span>
                                </label>
                                <div class="col-md-9">
                                  <input type="text" name="name" data-required="1" class="form-control" /> </div>
                              </div>

                              <div class="form-group">
                                <label class="control-label col-md-3">Date Of Birth
                                  <span class="required"></span>
                                </label>
                                <div class="col-md-9">
                                  <input [ngModel]="startDate | date:'yyyy-MM-dd'" data-required="1"
                                    (ngModelChange)="startDate = $event" type="date" name="startDate"
                                    style="width: 100%" class="form-control" />
                                </div>
                              </div>

                              <div class="form-group">
                                <label class="control-label col-md-3">Giới Tính
                                  <span class="required"></span>
                                </label>
                                <div class="col-md-9">
                                  <select class="form-control" name="select" style="width: 100%">
                                    <option value="1">Nam</option>
                                    <option value="2">nữ</option>
                                    <option value="3">Khác</option>
                                  </select>
                                </div>
                              </div>

                              <div class="form-group">
                                <label class="control-label col-md-3">Avatar
                                  <span class="required"></span>
                                </label>
                                <div class="col-md-9">
                                  <input type="text" name="file_name" id="file_name" class="form-control" disabled><br>
                                  <input type="file" name="img1" id="img1"
                                    onchange="document.getElementById('file_name').value = this.value.split('\\').pop().split('/').pop()">
                                </div>
                              </div>

                              <!-- Chọn Đường Dẫn<input type="file" name="img1" id="img1" onchange="document.getElementById('file_name').value = this.value.split('\\').pop().split('/').pop()">
                              <input type="text" name="file_name" id="file_name"> -->

                            </div>
                            <div class="form-actions">
                              <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                  <button type="submit" class="btn green">Submit</button>
                                  <button type="button" class="btn grey-salsa btn-outline">Cancel</button>
                                </div>
                              </div>
                            </div>
                          </form>
                          <!-- END FORM-->
                        </div>
                      </div>
                      <!-- END PERSONAL INFO TAB -->
                      <!-- CHANGE AVATAR TAB -->
                      <div class="tab-pane" id="tab_1_2">
                        <b>Your Avatar</b><br>
                        <form action="#" role="form">
                          <div class="form-group">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                              <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                              </div>
                              <div class="fileinput-preview fileinput-exists thumbnail"
                                style="max-width: 200px; max-height: 150px;"> </div>
                              <div>
                                <span class="btn default btn-file">
                                  <span class="fileinput-new"> Select image </span>
                                  <span class="fileinput-exists"> Change </span>
                                  <input type="file" name="..."> </span>
                                <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput">
                                  Remove </a>
                              </div>
                            </div>

                          </div>
                          <div class="margin-top-10">
                            <a href="javascript:;" class="btn green"> Submit </a>
                            <a href="javascript:;" class="btn default"> Cancel </a>
                          </div>
                        </form>
                      </div>
                      <!-- END CHANGE AVATAR TAB -->
                      <!-- CHANGE PASSWORD TAB -->
                      <div class="tab-pane" id="tab_1_3">
                          <div class="portlet-body">
                              <!-- BEGIN FORM-->
                              <form action="#" id="form_sample_1" class="form-horizontal">
                                <div class="form-body">
                                  <div class="alert alert-danger display-hide">
                                    <button class="close" data-close="alert"></button> Vui Lòng Điền Đầy Đủ Thông Tin.
                                  </div>
                                  <div class="alert alert-success display-hide">
                                    <button class="close" data-close="alert"></button> Your form validation is successful!
                                  </div>

                                  <div class="form-group">
                                    <label class="control-label col-md-3">Current Password
                                      <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-9">
                                      <input type="password" name="name" data-required="1" class="form-control" /> </div>
                                  </div>
    
                                  <div class="form-group">
                                    <label class="control-label col-md-3">New Password
                                      <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-9">
                                      <input type="password" name="name" data-required="1" id="password" class="form-control" /> </div>
                                  </div>
    
                                  <div class="form-group">
                                      <label class="control-label col-md-3">Confirm Password
                                        <span class="required"> * </span>
                                      </label>
                                      <div class="col-md-9">
                                        <input type="password" id="confirm_password" name="name" data-required="1" class="form-control" /> </div>
                                    </div>             
    
                                  <!-- Chọn Đường Dẫn<input type="file" name="img1" id="img1" onchange="document.getElementById('file_name').value = this.value.split('\\').pop().split('/').pop()">
                                  <input type="text" name="file_name" id="file_name"> -->
    
                                </div>
                                <div class="form-actions">
                                  <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                      <button type="submit" class="btn green" (onclick)="Submit()">Submit</button>
                                      <button type="button" class="btn grey-salsa btn-outline">Cancel</button>
                                    </div>
                                  </div>
                                </div>
                              </form>
                              <!-- END FORM-->
                            </div>
                      </div>
                      <!-- END CHANGE PASSWORD TAB -->
                      <!-- PRIVACY SETTINGS TAB -->

                      <!-- END PRIVACY SETTINGS TAB -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>