.modal-dialog {
    width: 80%;
    height: 80%;
    margin: 20px auto;
    padding: 0 auto;
  }
  
  .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }

  .ng-valid[required], .ng-valid.required  {
    border-left: 3px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 3px solid #a94442; /* red */
  }