<body class=" login">
  <br>
  <br>
  <h3 style="color: balck; margin-bottom: 30px; text-align: center; font-family: monospace; font-weight: bold">
    NLMS</h3>
  <div class="content">
    <form class="login-form" [formGroup]="frlogin" (ngSubmit)="login()">
      <h3 class="form-title" style="text-align: center; font-weight: bold">Đăng Nhập</h3>
      <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Username</label>
        <div class="input-icon">
          <i class="fa fa-user"></i>
          <input class="form-control" type="text" placeholder="Username"
             formControlName="username" />
         
        </div>
        <div *ngIf="frlogin.controls['username'].errors && !frlogin.controls['username'].pristine" class="error-msg"
        style="color: red;">
        <div [hidden]="!frlogin.controls['username'].errors.required">Nhập email</div>
        <div [hidden]="!frlogin.controls['username'].errors.pattern">Email sai định dạng</div>
      </div>
      </div>
      <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Password</label>
        <div class="input-icon">
          <i class="fa fa-lock"></i>
          <input class="form-control" type="password"  placeholder="Password"
           formControlName="password" />
          
        </div>
        <div *ngIf="frlogin.controls['password'].errors && !frlogin.controls['password'].pristine" class="error-msg"
            style="color: red;">
            <div [hidden]="!frlogin.controls['password'].errors.required">Nhập password</div>
            <div [hidden]="!frlogin.controls['password'].errors.pattern">Password bao gồm: chữ hoa, chữ cái, chữ số, ký tự đặc biệt</div>
            <div [hidden]="!frlogin.controls['password'].errors.minlength">Password quá ngắn</div>
            <div [hidden]="!frlogin.controls['password'].errors.maxlength">Password quá dài</div>
          </div>
      </div>
        <div class="form-actions">
          <label class="rememberme mt-checkbox mt-checkbox-outline">
            <input type="checkbox" name="remember" value="1" /> Remember me
            <span></span>
          </label>
          <button type="submit" style="background-color: blue" class="btn green pull-right" [disabled]="frlogin.invalid"> Login </button>
        </div>

        <div class="forget-password">
          <h5>Forgot your password? <a href="" id="forget-password">Reset password.</a> </h5>
            
        </div>
    </form>
  </div>
  <br>
  <br>
</body>