<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true"
      data-slide-speed="200" style="padding-top: 20px">
      <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
      <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
      <li class="sidebar-toggler-wrapper hide">
        <div class="sidebar-toggler">
          <span></span>
        </div>
      </li>
      <li class="sidebar-search-wrapper">
        <form class="sidebar-search  " action="#" method="POST">
            <a href="javascript:;" class="remove">
                <i class="icon-close"></i>
            </a>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <a href="javascript:;" class="btn submit">
                        <i class="icon-magnifier"></i>
                    </a>
                </span>
            </div>
        </form>
      </li>
      <!-- END SIDEBAR TOGGLER BUTTON -->
      <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
      <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="fa fa-book"></i>
          <span class="title">Làm đề</span>
          <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item  ">
            <a href="#" class="nav-link ">
              <span class="title">&nbsp;<i class="fa fa-lightbulb-o" aria-hidden="true"
                  style="color: yellow"></i>&nbsp;Đề gợi ý</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="#" class="nav-link ">
              <span class="title">&nbsp;<i class="fa fa-bookmark-o" aria-hidden="true" style="color: red"></i>&nbsp;Đề
                đã lưu</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="#" class="nav-link ">
              <span class="title">&nbsp;<i class="fa fa-play-circle" aria-hidden="true"
                  style="color:#1E90FF"></i>&nbsp;Đề đang làm</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="#" class="nav-link ">
              <span class="title">&nbsp;<i class="fa fa-shopping-cart" aria-hidden="true"
                  style="color: #FFD700"></i>&nbsp;Đề đã mua</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="#" class="nav-link ">
              <span class="title">&nbsp;<i class="fa fa-history" aria-hidden="true"
                  style="color: #ADFF2F"></i>&nbsp;Lịch sử làm bài</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="#" class="nav-link ">
              <span class="title">&nbsp;<i class="fa fa-history" aria-hidden="true"
                  style="color: rgb(0, 140, 255)"></i>&nbsp;Báo cáo</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="icon-docs" ></i>
              <span class="title"><b>Tạo đề</b></span>
          <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item  ">
            <a href="#" class="nav-link ">
              <span class="title">&nbsp;<i class="fa fa-file-o" aria-hidden="true"
                  style="color: rgb(0, 140, 255)"></i>&nbsp;Tạo đề mới</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="#" class="nav-link ">
              <span class="title">&nbsp;<i class="fa fa-file-text-o" aria-hidden="true"
                  style="color: rgb(0, 140, 255)"></i>&nbsp;Quản lý đề thi</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="#" class="nav-link ">
              <span class="title">&nbsp;<i class="fa fa-history" aria-hidden="true"
                  style="color: rgb(0, 140, 255)"></i>&nbsp;Báo cáo</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="icon-folder" ></i>
              <span class="title">Bộ sưu tập</span>
          <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item  ">
            <a href="#" class="nav-link ">
              <span class="title">&nbsp;<i class="fa fa-folder-open" aria-hidden="true"
                  style="color: yellow"></i>&nbsp;Khám phá</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="#" class="nav-link ">
              <span class="title">&nbsp;<i class="fa fa-plus-square" aria-hidden="true"
                  style="color: yellow"></i>&nbsp;Tạo mới</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="#" class="nav-link ">
              <span class="title">&nbsp;<i class="fa fa-history" aria-hidden="true" style="color: yellow"></i>&nbsp;BST
                đã tạo</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="#" class="nav-link ">
              <span class="title">&nbsp;<i class="fa fa-bookmark" aria-hidden="true" style="color: yellow"></i>&nbsp;BST
                đã lưu</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="#" class="nav-link ">
              <span class="title">&nbsp;<i class="fa fa-shopping-cart" aria-hidden="true"
                  style="color: #FFD700"></i>&nbsp;BST đã mua</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
