<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Update Question</button>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">

        <div class="row">
          <!-- BEGIN VALIDATION STATES-->
          <div class="portlet light portlet-fit portlet-form bordered">
            <div class="portlet-title">
              <div class="caption">
                <i class=" icon-layers font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Update Question</span>
              </div>
              <div class="actions">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
            </div>
            <div class="portlet-body">
              <!-- BEGIN FORM-->
              <form action="#" id="form_sample_2">
                <div class="form-body">
                  <div class="form-group form-md-line-input">
                    <input type="text" class="form-control" name="name" id="form_control_1"
                      placeholder="Enter your name">
                    <label for="form_control_1">
                      <b>Question content</b> <span class="required">*</span>
                    </label>
                    <span class="help-block">Enter your Question content...</span>
                  </div>

                  <div class="form-group form-md-line-input">
                    <label for="form_control_1">Question type</label>
                    <select class="form-control" name="delivery">
                      <!-- <option value="1">Question Type</option> -->
                      <option value="1">Radio</option>
                      <option value="2">Checkbox</option>
                    </select>
                  </div>

                  <div class="form-group form-md-line-input">
                    <label for="form_control_1">Difficult</label>
                    <select class="form-control" name="delivery">
                      <!-- <option value="1">Question Type</option> -->
                      <option value="1">Easy</option>
                      <option value="2">Normal</option>
                      <option value="2">Hard</option>
                    </select>
                  </div>

                  <div class="form-group form-md-line-input">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-envelope"></i>
                      </span>
                      <input type="text" class="form-control" name="digits" placeholder="Enter time">
                      <label for="form_control_1">Time</label>
                    </div>
                  </div>

                  <div class="form-group form-md-line-input">
                    <label for="form_control_1">Lession</label>
                    <select class="form-control" name="delivery">
                      <!-- <option value="1">Question Type</option> -->
                      <option value="1">Lession 1</option>
                      <option value="2">Lession 2</option>
                      <option value="2">Lession 3</option>
                    </select>
                  </div>

                  <div class="form-group form-md-line-input">
                    <label for="form_control_1">Status</label>
                    <select class="form-control" name="delivery">
                      <!-- <option value="1">Question Type</option> -->
                      <option value="1">Active</option>
                      <option value="2">InActive</option>
                      <option value="2">None</option>
                    </select>
                  </div>

                  <!-- <div class="form-group">
                      <label class="col-md-3 control-label">Câu trả lời:</label>
                      <div class="col-md-9">
                          <div class="mt-repeater">
                              <div data-repeater-list="group-b">
                                  <div data-repeater-item="" class="row">
                                      <div class="col-md-7">
                                          <label class="control-label">Nội dung</label>
                                          <input type="text" placeholder="Nhập câu trả lời" class="form-control" formControlName="answercontent"> </div>
                                      <div class="col-md-3">
                                          <label class="control-label">Is true</label>
                                          <input type="checkbox" formControlName="istrue" class="form-control">
                                       </div>
                                      <div class="col-md-1">
                                          <label class="control-label">&nbsp;</label>
                                          <a href="javascript:;" data-repeater-delete="" class="btn btn-danger">
                                              <i class="fa fa-close"></i>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                              <hr>
                              <a href="javascript:;" data-repeater-create="" class="btn btn-info mt-repeater-add">
                                  <i class="fa fa-plus"></i> Thêm câu trả lời</a>
                              <br>
                              <br>
                          </div>
                      </div>
                  </div>     -->


                </div>
                <div class="form-actions">
                  <div class="row">
                    <div class="col-md-12">
                      <button type="submit" class="btn green">Update</button>
                      <button type="reset" class="btn default">Reset</button>
                    </div>
                  </div>
                </div>



              </form>
              <!-- END FORM-->
            </div>
          </div>
          <!-- END VALIDATION STATES-->

          <!-- END VALIDATION STATES-->
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>