<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Danh sách câu hỏi</span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                        <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                            <input type="radio" name="options" class="toggle" id="option1">Actions</label>
                        <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                            <input type="radio" name="options" class="toggle" id="option2">Settings</label>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button id="sample_editable_1_new" class="btn sbold green" data-toggle="modal"
                                    data-target="#myModal"> Thêm mới
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Thêm mới câu hỏi</h4>
                                        </div>
                                        <div class="modal-body">
                                            <!-- BEGIN VALIDATION STATES-->
                                            <div class="portlet light portlet-fit portlet-form bordered">
                                                <div class="portlet-body">
                                                    <!-- BEGIN FORM-->
                                                    <form [formGroup]="formAdd" (ngSubmit)="addQuestion()" class="form-horizontal" >
                                                        <div class="form-body">
                                                            <div class="alert alert-danger display-hide">
                                                                <button class="close" data-close="alert"></button> You
                                                                have some form errors. Please check below. </div>
                                                            <div class="alert alert-success display-hide">
                                                                <button class="close" data-close="alert"></button> Your
                                                                form validation is successful! </div>
                                                            <div class="form-group form-md-line-input">
                                                                <label class="col-md-3 control-label"
                                                                    for="form_control_1">Nội dung câu hỏi
                                                                    <span class="required">*</span>
                                                                </label>
                                                                <div class="col-md-9">
                                                                    <input type="text" class="form-control"
                                                                        placeholder="Nhập nội dung câu hỏi"  formControlName="questionContent">
                                                                    <div class="form-control-focus"> </div>
                                                                    <span class="help-block">Vui lòng nhập nội
                                                                        dung</span>
                                                                </div>
                                                            </div>
                                                           
                                                            <div class="form-group form-md-line-input">
                                                                <label class="col-md-3 control-label"
                                                                    for="form_control_1">URL
                                                                    <span class="required">*</span>
                                                                </label>
                                                                <div class="col-md-9">
                                                                    <input type="text" class="form-control"
                                                                        placeholder="Nhập link media" formControlName="url">
                                                                    <div class="form-control-focus"> </div>
                                                                </div>
                                                            </div>
                                                          
                                                            <div class="form-group form-md-line-input">
                                                                <label class="col-md-3 control-label"
                                                                for="form_control_1">Lession ID
                                                                <span class="required">*</span>
                                                            </label>
                                                                <div class="col-md-9">
                                                                    <select class="form-control" formControlName="lessionID">       
                                                                        <option value="1">001</option>
                                                                        <option value="2">002</option>
                                                                        <option value="3">003</option>
                                                                    </select>
                                                                    <div class="form-control-focus"> </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <label class="col-md-3 control-label"
                                                                for="form_control_1">Độ khó
                                                                <span class="required">*</span>
                                                            </label>
                                                                <div class="col-md-9">
                                                                    <select class="form-control" formControlName="difficulty">
                                                                        <!-- <option value="">Select</option> -->
                                                                        <option value="1">Dễ</option>
                                                                        <option value="2">Trung bình</option>
                                                                        <option value="3">Khó</option>
                                                                    </select>
                                                                    <div class="form-control-focus"> </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <label class="col-md-3 control-label"
                                                                    for="form_control_1">Time (s)
                                                                    <span class="required">*</span>
                                                                </label>
                                                                <div class="col-md-9">
                                                                    <select class="form-control" formControlName="time">
                                                                        <!-- <option value="">Select</option> -->
                                                                        <option value="15">15</option>
                                                                        <option value="30">30</option>
                                                                        <option value="60">60</option>
                                                                    </select>
                                                                    <div class="form-control-focus"> </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <label class="col-md-3 control-label"
                                                                    for="form_control_1">Kiểu
                                                                    <span class="required">*</span>
                                                                </label>
                                                                <div class="col-md-9">
                                                                    <select class="form-control" formControlName="questionType">
                                                                        <option value="1">Radio</option>
                                                                        <option value="2">Checkbox</option>    
                                                                    </select>
                                                                    <div class="form-control-focus"> </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label">Câu trả lời:</label>
                                                                <div class="col-md-9">
                                                                    <div class="mt-repeater">
                                                                        <div data-repeater-list="group-b">
                                                                             <div formArrayName="selling_points">
                                                                                    <div *ngFor="let item of sellingPoints.controls; let pointIndex=index" [formGroupName]="pointIndex"> -->
                                                                               
                                                                            <div data-repeater-item="" class="row">
                                                                                <!-- thêm vào: moới -->
                                                                                 
                                                                                        <div class="col-md-7">
                                                                                            <label class="control-label">Nội dung</label>
                                                                                            <input type="text" placeholder="Nhập câu trả lời" class="form-control" formControlName="answercontent"> </div>
                                                                                        <div class="col-md-3">
                                                                                            <label class="control-label">Is true</label>
                                                                                            <input type="checkbox" formControlName="istrue" class="form-control" style="margin: 0px;">
                                                                                        </div>
                                                                                        <div class="col-md-1">
                                                                                            <label class="control-label">&nbsp;</label>
                                                                                            <a href="javascript:;" data-repeater-delete="" class="btn btn-danger">
                                                                                                <i class="fa fa-close"></i>
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <hr>
                                                                        <a href="javascript:;" data-repeater-create="" class="btn btn-info mt-repeater-add">
                                                                            <i class="fa fa-plus"></i>
                                                                            Thêm câu trả lời
                                                                            <!-- <button type="button" (click)="deleteSellingPoint(pointIndex)">Thêm câu trả lời</button> -->
                                                                         </a>
                                                                        <br>
                                                                        <br>
                                                                    </div>
                                                                </div>
                                                            </div>      
                                                        </div>
                                                       
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-success"
                                                                >Lưu</button>
                                                            <button type="button" class="btn btn-success"
                                                                data-dismiss="modal" style="background-color: red">Đóng</button>
                                                        </div>
                                                    </form>
                                                    <!-- END FORM-->
                                                </div>
                                            </div>
                                            <!-- END VALIDATION STATES-->

                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="btn-group pull-right">
                                <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-print"></i> Print </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-file-pdf-o"></i> Save as PDF </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-file-excel-o"></i> Export to Excel </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover table-checkable order-column"
                    id="sample_1">
                    <thead>
                        <tr>
                            <th>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                    <span></span>
                                </label>
                            </th>
                            <!-- <th> ID </th> -->
                            <th> Nội dung </th>
                            <th> Kiểu </th>
                            <th> Độ khó </th>
                            <th> Thời gian </th>
                            <th> ID Bài </th>
                            <th> Trạng thái </th>
                            <th> Url </th>
                            <th> Tạo bởi </th>
                            <th> Ngày tạo </th>
                            <th> Sửa bởi </th>     
                            <th> Ngày sửa </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" style="text-align: center">
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="checkboxes" value="1" />
                                    <span></span>
                                </label>
                            </td>
                            <!-- <td> shuxer </td> -->
                            <td>
                                Tình yêu là gì?
                            </td>
                            <td> checkbox </td>
                            <td> Dễ </td>
                            <td class="center"> 15 </td>
                           
                            <td> les01 </td>
                            <td> true </td>
                            <td> shuxer </td>
                            <td> shuxer </td>
                            <td>12 Jan 2012 </td>
                            <td> shuxer </td>
                            <td> 12 Jan 2012</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>