<div class="row">
  <div class="col-md-12">
      <!-- BEGIN EXAMPLE TABLE PORTLET-->
      <div class="portlet light bordered">
          <div class="portlet-title">
              <div class="caption font-dark">
                  <i class="icon-settings font-dark"></i>
                  <span class="caption-subject bold uppercase"> List User</span>
              </div>
              <div class="actions">
                  
              </div>
          </div>
          <div class="portlet-body">
              <div class="table-toolbar">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="btn-group">
                              <button id="sample_editable_1_new" class="btn sbold green" data-toggle="modal"
                                  data-target="#myModal"> Thêm mới
                                  <i class="fa fa-plus"></i>
                              </button>
                          </div>
                          <div class="modal fade" id="myModal" role="dialog">
                              <div class="modal-dialog">

                                  <!-- Modal content-->
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title">Thêm mới câu hỏi</h4>
                                      </div>
                                      <div class="modal-body">

                                          <!-- BEGIN VALIDATION STATES-->
                                          <div class="portlet light portlet-fit portlet-form bordered">

                                              <div class="portlet-body">
                                                  <!-- BEGIN FORM-->
                                                  <form action="#" class="form-horizontal" id="form_sample_1">
                                                      <div class="form-body">
                                                          <div class="alert alert-danger display-hide">
                                                              <button class="close" data-close="alert"></button> You
                                                              have some form errors. Please check below. </div>
                                                          <div class="alert alert-success display-hide">
                                                              <button class="close" data-close="alert"></button> Your
                                                              form validation is successful! </div>
                                                          <div class="form-group form-md-line-input">
                                                              <label class="col-md-3 control-label"
                                                                  for="form_control_1">Nội dung
                                                                  <span class="required">*</span>
                                                              </label>
                                                              <div class="col-md-9">
                                                                  <input type="text" class="form-control"
                                                                      placeholder="" name="name">
                                                                  <div class="form-control-focus"> </div>
                                                                  <span class="help-block">Vui lòng nhập nội
                                                                      dung</span>
                                                              </div>
                                                          </div>
                                                          <div class="form-group form-md-line-input">
                                                              <label class="col-md-3 control-label"
                                                                  for="form_control_1">Kiểu
                                                                  <span class="required">*</span>
                                                              </label>
                                                              <div class="col-md-9">
                                                                  <input type="text" class="form-control"
                                                                      placeholder="" name="email">
                                                                  <div class="form-control-focus"> </div>
                                                              </div>
                                                          </div>
                                                          <div class="form-group form-md-line-input">
                                                              <label class="col-md-3 control-label"
                                                                  for="form_control_1">Độ khó
                                                                  <span class="required">*</span>
                                                              </label>
                                                              <div class="col-md-9">
                                                                  <input type="text" class="form-control"
                                                                      placeholder="" name="url">
                                                                  <div class="form-control-focus"> </div>
                                                              </div>
                                                          </div>
                                                          <div class="form-group form-md-line-input">
                                                              <label class="col-md-3 control-label"
                                                                  for="form_control_1">Thời gian
                                                                  <span class="required">*</span>
                                                              </label>
                                                              <div class="col-md-9">
                                                                  <input type="text" class="form-control"
                                                                      placeholder="" name="number">
                                                                  <div class="form-control-focus"> </div>
                                                              </div>
                                                          </div>
                                                          <div class="form-group form-md-line-input">
                                                              <label class="col-md-3 control-label"
                                                                  for="form_control_1">Chương
                                                                  <span class="required">*</span>
                                                              </label>
                                                              <div class="col-md-9">
                                                                  <div class="input-icon">
                                                                      <input type="text" class="form-control"
                                                                          placeholder="Enter digits" name="digits">
                                                                      <div class="form-control-focus"> </div>
                                                                      <i class="fa fa-bell-o"></i>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="form-group form-md-line-input">
                                                              <label class="col-md-3 control-label"
                                                                  for="form_control_1">Trạng thái
                                                                  <span class="required">*</span>
                                                              </label>
                                                              <div class="col-md-9">
                                                                  <div class="input-icon right">
                                                                      <input type="text" class="form-control"
                                                                          name="creditcard"
                                                                          placeholder="Enter your card">
                                                                      <div class="form-control-focus"> </div>
                                                                      <i class="fa fa-cc-visa font-green"></i>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="form-group form-md-line-input">
                                                              <label class="col-md-3 control-label"
                                                                  for="form_control_1">Email</label>
                                                              <div class="col-md-9">
                                                                  <div class="input-group">
                                                                      <span class="input-group-addon">
                                                                          <i class="fa fa-envelope"></i>
                                                                      </span>
                                                                      <input type="text" class="form-control"
                                                                          name="email2"
                                                                          placeholder="Enter your email">
                                                                      <div class="form-control-focus"> </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="form-group form-md-line-input">
                                                              <label class="col-md-3 control-label"
                                                                  for="form_control_1">URL</label>
                                                              <div class="col-md-9">
                                                                  <div class="input-group">
                                                                      <input type="text" class="form-control"
                                                                          name="url2" placeholder="Enter URL">
                                                                      <span class="input-group-addon">
                                                                          <i class="fa fa-i-cursor"></i>
                                                                      </span>
                                                                      <div class="form-control-focus"> </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="form-group form-md-line-input">
                                                              <label class="col-md-3 control-label"
                                                                  for="form_control_1">Number</label>
                                                              <div class="col-md-9">
                                                                  <div class="input-group">
                                                                      <div class="input-group-control">
                                                                          <input type="text" class="form-control"
                                                                              name="number2"
                                                                              placeholder="Placeholder"> </div>
                                                                      <span class="input-group-btn btn-right">
                                                                          <button type="button"
                                                                              class="btn green-haze dropdown-toggle"
                                                                              data-toggle="dropdown"
                                                                              aria-expanded="false"> Action
                                                                              <i class="fa fa-angle-down"></i>
                                                                          </button>
                                                                          <ul class="dropdown-menu pull-right"
                                                                              role="menu">
                                                                              <li>
                                                                                  <a href="javascript:;">Action</a>
                                                                              </li>
                                                                              <li>
                                                                                  <a href="javascript:;">Another
                                                                                      action</a>
                                                                              </li>
                                                                              <li>
                                                                                  <a href="javascript:;">Something
                                                                                      else here</a>
                                                                              </li>
                                                                              <li class="divider"> </li>
                                                                              <li>
                                                                                  <a href="javascript:;">Separated
                                                                                      link</a>
                                                                              </li>
                                                                          </ul>
                                                                      </span>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="form-group form-md-line-input">
                                                              <label class="col-md-3 control-label"
                                                                  for="form_control_1">Delivery</label>
                                                              <div class="col-md-9">
                                                                  <select class="form-control" name="delivery">
                                                                      <option value="">Select</option>
                                                                      <option value="2">Option 1</option>
                                                                      <option value="3">Option 2</option>
                                                                      <option value="4">Option 3</option>
                                                                  </select>
                                                                  <div class="form-control-focus"> </div>
                                                              </div>
                                                          </div>
                                                          <div class="form-group form-md-line-input">
                                                              <label class="col-md-3 control-label"
                                                                  for="form_control_1">Payment</label>
                                                              <div class="col-md-9">
                                                                  <select class="form-control" name="payment"
                                                                      multiple="">
                                                                      <option value="1">Option 1</option>
                                                                      <option value="2">Option 2</option>
                                                                      <option value="3">Option 3</option>
                                                                      <option value="4">Option 3</option>
                                                                      <option value="5">Option 3</option>
                                                                  </select>
                                                                  <div class="form-control-focus"> </div>
                                                              </div>
                                                          </div>
                                                          <div class="form-group form-md-line-input">
                                                              <label class="col-md-3 control-label"
                                                                  for="form_control_1">Memo</label>
                                                              <div class="col-md-9">
                                                                  <textarea class="form-control" name="memo"
                                                                      rows="3"></textarea>
                                                                  <div class="form-control-focus"> </div>
                                                              </div>
                                                          </div>
                                                          <div class="form-group form-md-checkboxes">
                                                              <label class="col-md-3 control-label"
                                                                  for="form_control_1">Checkboxes</label>
                                                              <div class="col-md-9">
                                                                  <div class="md-checkbox-list">
                                                                      <div class="md-checkbox">
                                                                          <input type="checkbox" name="checkboxes1[]"
                                                                              value="1" id="checkbox1_1"
                                                                              class="md-check">
                                                                          <label for="checkbox1_1">
                                                                              <span></span>
                                                                              <span class="check"></span>
                                                                              <span class="box"></span> Option 1
                                                                          </label>
                                                                      </div>
                                                                      <div class="md-checkbox">
                                                                          <input type="checkbox" name="checkboxes1[]"
                                                                              value="2" id="checkbox1_2"
                                                                              class="md-check">
                                                                          <label for="checkbox1_2">
                                                                              <span></span>
                                                                              <span class="check"></span>
                                                                              <span class="box"></span> Option 2
                                                                          </label>
                                                                      </div>
                                                                      <div class="md-checkbox">
                                                                          <input type="checkbox" name="checkboxes1[]"
                                                                              value="3" id="checkbox1_211"
                                                                              class="md-check">
                                                                          <label for="checkbox1_211">
                                                                              <span></span>
                                                                              <span class="check"></span>
                                                                              <span class="box"></span> Option 3
                                                                          </label>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="form-group form-md-checkboxes">
                                                              <label class="col-md-3 control-label"
                                                                  for="form_control_1">Checkboxes</label>
                                                              <div class="col-md-9">
                                                                  <div class="md-checkbox-inline">
                                                                      <div class="md-checkbox">
                                                                          <input type="checkbox" id="checkbox1_3"
                                                                              name="checkboxes2[]" value="1"
                                                                              class="md-check">
                                                                          <label for="checkbox1_3">
                                                                              <span></span>
                                                                              <span class="check"></span>
                                                                              <span class="box"></span> Option 1
                                                                          </label>
                                                                      </div>
                                                                      <div class="md-checkbox">
                                                                          <input type="checkbox" id="checkbox1_4"
                                                                              name="checkboxes2[]" value="2"
                                                                              class="md-check">
                                                                          <label for="checkbox1_4">
                                                                              <span></span>
                                                                              <span class="check"></span>
                                                                              <span class="box"></span> Option 2
                                                                          </label>
                                                                      </div>
                                                                      <div class="md-checkbox">
                                                                          <input type="checkbox" id="checkbox1_5"
                                                                              name="checkboxes2[]" value="3"
                                                                              class="md-check">
                                                                          <label for="checkbox1_5">
                                                                              <span></span>
                                                                              <span class="check"></span>
                                                                              <span class="box"></span> Option 3
                                                                          </label>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="form-group form-md-radios">
                                                              <label class="col-md-3 control-label"
                                                                  for="form_control_1">Radios</label>
                                                              <div class="col-md-9">
                                                                  <div class="md-radio-list">
                                                                      <div class="md-radio">
                                                                          <input type="radio" id="checkbox1_6"
                                                                              name="radio1" value="1"
                                                                              class="md-radiobtn">
                                                                          <label for="checkbox1_6">
                                                                              <span></span>
                                                                              <span class="check"></span>
                                                                              <span class="box"></span> Option 1
                                                                          </label>
                                                                      </div>
                                                                      <div class="md-radio">
                                                                          <input type="radio" id="checkbox1_7"
                                                                              name="radio1" value="2"
                                                                              class="md-radiobtn">
                                                                          <label for="checkbox1_7">
                                                                              <span></span>
                                                                              <span class="check"></span>
                                                                              <span class="box"></span> Option 2
                                                                          </label>
                                                                      </div>
                                                                      <div class="md-radio">
                                                                          <input type="radio" id="checkbox1_611"
                                                                              name="radio1" value="3"
                                                                              class="md-radiobtn">
                                                                          <label for="checkbox1_611">
                                                                              <span></span>
                                                                              <span class="check"></span>
                                                                              <span class="box"></span> Option 3
                                                                          </label>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="form-group form-md-radios">
                                                              <label class="col-md-3 control-label"
                                                                  for="form_control_1">Radios</label>
                                                              <div class="col-md-9">
                                                                  <div class="md-radio-inline">
                                                                      <div class="md-radio">
                                                                          <input type="radio" id="checkbox1_8"
                                                                              name="radio2" value="1"
                                                                              class="md-radiobtn">
                                                                          <label for="checkbox1_8">
                                                                              <span></span>
                                                                              <span class="check"></span>
                                                                              <span class="box"></span> Option 1
                                                                          </label>
                                                                      </div>
                                                                      <div class="md-radio">
                                                                          <input type="radio" id="checkbox1_9"
                                                                              name="radio2" value="2"
                                                                              class="md-radiobtn">
                                                                          <label for="checkbox1_9">
                                                                              <span></span>
                                                                              <span class="check"></span>
                                                                              <span class="box"></span> Option 2
                                                                          </label>
                                                                      </div>
                                                                      <div class="md-radio">
                                                                          <input type="radio" id="checkbox1_10"
                                                                              name="radio2" value="2"
                                                                              class="md-radiobtn">
                                                                          <label for="checkbox1_10">
                                                                              <span></span>
                                                                              <span class="check"></span>
                                                                              <span class="box"></span> Option 3
                                                                          </label>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                      <div class="form-actions">
                                                          <div class="row">
                                                              <div class="col-md-offset-3 col-md-9">
                                                                  <button type="submit"
                                                                      class="btn green">Validate</button>
                                                                  <button type="reset"
                                                                      class="btn default">Reset</button>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </form>
                                                  <!-- END FORM-->
                                              </div>
                                          </div>
                                          <!-- END VALIDATION STATES-->







                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-success"
                                              data-dismiss="modal">Đóng</button>
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="btn-group pull-right">
                              <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                  <i class="fa fa-angle-down"></i>
                              </button>
                              <ul class="dropdown-menu pull-right">
                                  <li>
                                      <a href="javascript:;">
                                          <i class="fa fa-print"></i> Print </a>
                                  </li>
                                  <li>
                                      <a href="javascript:;">
                                          <i class="fa fa-file-pdf-o"></i> Save as PDF </a>
                                  </li>
                                  <li>
                                      <a href="javascript:;">
                                          <i class="fa fa-file-excel-o"></i> Export to Excel </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                  <thead>
                      <tr>
                          <th>
                              <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                  <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                  <span></span>
                              </label>
                          </th>
                          <th> Username </th>
                          <th> Email </th>
                          <th> Status </th>
                          <th> Joined </th>
                          <th> Actions </th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr class="odd gradeX">
                          <td>
                              <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                  <input type="checkbox" class="checkboxes" value="1" />
                                  <span></span>
                              </label>
                          </td>
                          <td> shuxer </td>
                          <td>
                              <a href="mailto:shuxer@gmail.com"> shuxer@gmail.com </a>
                          </td>
                          <td>
                              <span class="label label-sm label-success"> Approved </span>
                          </td>
                          <td class="center"> 12 Jan 2012 </td>
                          <td>
                              <div class="btn-group">
                                  <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                      <i class="fa fa-angle-down"></i>
                                  </button>
                                  <ul class="dropdown-menu pull-left" role="menu">
                                      <li>
                                          <a href="javascript:;">
                                              <i class="icon-docs"></i> New Post </a>
                                      </li>
                                      <li>
                                          <a href="javascript:;">
                                              <i class="icon-tag"></i> New Comment </a>
                                      </li>
                                      <li>
                                          <a href="javascript:;">
                                              <i class="icon-user"></i> New User </a>
                                      </li>
                                      <li class="divider"> </li>
                                      <li>
                                          <a href="javascript:;">
                                              <i class="icon-flag"></i> Comments
                                              <span class="badge badge-success">4</span>
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                          </td>
                      </tr>
                      <tr class="odd gradeX">
                          <td>
                              <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                  <input type="checkbox" class="checkboxes" value="1" />
                                  <span></span>
                              </label>
                          </td>
                          <td> looper </td>
                          <td>
                              <a href="mailto:looper90@gmail.com"> looper90@gmail.com </a>
                          </td>
                          <td>
                              <span class="label label-sm label-warning"> Suspended </span>
                          </td>
                          <td class="center"> 12.12.2011 </td>
                          <td>
                              <div class="btn-group">
                                  <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                      <i class="fa fa-angle-down"></i>
                                  </button>
                                  <ul class="dropdown-menu" role="menu">
                                      <li>
                                          <a href="javascript:;">
                                              <i class="icon-docs"></i> New Post </a>
                                      </li>
                                      <li>
                                          <a href="javascript:;">
                                              <i class="icon-tag"></i> New Comment </a>
                                      </li>
                                      <li>
                                          <a href="javascript:;">
                                              <i class="icon-user"></i> New User </a>
                                      </li>
                                      <li class="divider"> </li>
                                      <li>
                                          <a href="javascript:;">
                                              <i class="icon-flag"></i> Comments
                                              <span class="badge badge-success">4</span>
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                          </td>
                      </tr>
                      <tr class="odd gradeX">
                          <td>
                              <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                  <input type="checkbox" class="checkboxes" value="1" />
                                  <span></span>
                              </label>
                          </td>
                          <td> userwow </td>
                          <td>
                              <a href="mailto:userwow@yahoo.com"> userwow@yahoo.com </a>
                          </td>
                          <td>
                              <span class="label label-sm label-success"> Approved </span>
                          </td>
                          <td class="center"> 12.12.2011 </td>
                          <td>
                              <div class="btn-group">
                                  <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                      <i class="fa fa-angle-down"></i>
                                  </button>
                                  <ul class="dropdown-menu" role="menu">
                                      <li>
                                          <a href="javascript:;">
                                              <i class="icon-docs"></i> New Post </a>
                                      </li>
                                      <li>
                                          <a href="javascript:;">
                                              <i class="icon-tag"></i> New Comment </a>
                                      </li>
                                      <li>
                                          <a href="javascript:;">
                                              <i class="icon-user"></i> New User </a>
                                      </li>
                                      <li class="divider"> </li>
                                      <li>
                                          <a href="javascript:;">
                                              <i class="icon-flag"></i> Comments
                                              <span class="badge badge-success">4</span>
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                          </td>
                      </tr>
                      <tr class="odd gradeX">
                          <td>
                              <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                  <input type="checkbox" class="checkboxes" value="1" />
                                  <span></span>
                              </label>
                          </td>
                          <td> user1wow </td>
                          <td>
                              <a href="mailto:userwow@gmail.com"> userwow@gmail.com </a>
                          </td>
                          <td>
                              <span class="label label-sm label-danger"> Blocked </span>
                          </td>
                          <td class="center"> 12.12.2011 </td>
                          <td>
                              <div class="btn-group">
                                  <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                      <i class="fa fa-angle-down"></i>
                                  </button>
                                  <ul class="dropdown-menu" role="menu">
                                      <li>
                                          <a href="javascript:;">
                                              <i class="icon-docs"></i> New Post </a>
                                      </li>
                                      <li>
                                          <a href="javascript:;">
                                              <i class="icon-tag"></i> New Comment </a>
                                      </li>
                                      <li>
                                          <a href="javascript:;">
                                              <i class="icon-user"></i> New User </a>
                                      </li>
                                      <li class="divider"> </li>
                                      <li>
                                          <a href="javascript:;">
                                              <i class="icon-flag"></i> Comments
                                              <span class="badge badge-success">4</span>
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                          </td>
                      </tr>
                      <tr class="odd gradeX">
                          <td>
                              <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                  <input type="checkbox" class="checkboxes" value="1" />
                                  <span></span>
                              </label>
                          </td>
                          <td> restest </td>
                          <td>
                              <a href="mailto:userwow@gmail.com"> test@gmail.com </a>
                          </td>
                          <td>
                              <span class="label label-sm label-success"> Approved </span>
                          </td>
                          <td class="center"> 12.12.2011 </td>
                          <td>
                              <div class="btn-group">
                                  <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                      <i class="fa fa-angle-down"></i>
                                  </button>
                                  <ul class="dropdown-menu" role="menu">
                                      <li>
                                          <a href="javascript:;">
                                              <i class="icon-docs"></i> New Post </a>
                                      </li>
                                      <li>
                                          <a href="javascript:;">
                                              <i class="icon-tag"></i> New Comment </a>
                                      </li>
                                      <li>
                                          <a href="javascript:;">
                                              <i class="icon-user"></i> New User </a>
                                      </li>
                                      <li class="divider"> </li>
                                      <li>
                                          <a href="javascript:;">
                                              <i class="icon-flag"></i> Comments
                                              <span class="badge badge-success">4</span>
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                          </td>
                      </tr>
                      <tr class="odd gradeX">
                          <td>
                              <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                  <input type="checkbox" class="checkboxes" value="1" />
                                  <span></span>
                              </label>
                          </td>
                          <td> foopl </td>
                          <td>
                              <a href="mailto:userwow@gmail.com"> good@gmail.com </a>
                          </td>
                          <td>
                              <span class="label label-sm label-info"> Info </span>
                          </td>
                          <td class="center"> 12.12.2011 </td>
                          <td>
                              <div class="btn-group">
                                  <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                      <i class="fa fa-angle-down"></i>
                                  </button>
                                  <ul class="dropdown-menu" role="menu">
                                      <li>
                                          <a href="javascript:;">
                                              <i class="icon-docs"></i> New Post </a>
                                      </li>
                                      <li>
                                          <a href="javascript:;">
                                              <i class="icon-tag"></i> New Comment </a>
                                      </li>
                                      <li>
                                          <a href="javascript:;">
                                              <i class="icon-user"></i> New User </a>
                                      </li>
                                      <li class="divider"> </li>
                                      <li>
                                          <a href="javascript:;">
                                              <i class="icon-flag"></i> Comments
                                              <span class="badge badge-success">4</span>
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                          </td>
                      </tr>
                      <tr class="odd gradeX">
                          <td>
                              <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                  <input type="checkbox" class="checkboxes" value="1" />
                                  <span></span>
                              </label>
                          </td>
                          <td> foopl </td>
                          <td>
                              <a href="mailto:userwow@gmail.com"> good@gmail.com </a>
                          </td>
                          <td>
                              <span class="label label-sm label-info"> Info </span>
                          </td>
                          <td class="center"> 12.12.2011 </td>
                          <td>
                              <div class="btn-group">
                                  <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                      <i class="fa fa-angle-down"></i>
                                  </button>
                                  <ul class="dropdown-menu" role="menu">
                                      <li>
                                          <a href="javascript:;">
                                              <i class="icon-docs"></i> New Post </a>
                                      </li>
                                      <li>
                                          <a href="javascript:;">
                                              <i class="icon-tag"></i> New Comment </a>
                                      </li>
                                      <li>
                                          <a href="javascript:;">
                                              <i class="icon-user"></i> New User </a>
                                      </li>
                                      <li class="divider"> </li>
                                      <li>
                                          <a href="javascript:;">
                                              <i class="icon-flag"></i> Comments
                                              <span class="badge badge-success">4</span>
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
      <!-- END EXAMPLE TABLE PORTLET-->
  </div>
</div>