<!-- Footer -->
<footer>
  
  <div class="navbar navbar-default navbar-fixed-bottom">
      <div *ngIf="divhien==1" class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>NLMS GROUP</h3>
          <p><i class="fa fa-phone" aria-hidden="true"></i> + 84 96 996 669</p>
          <p><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; Tòa Nhà CMCTower số 11, Duy Tân, Cầu Giấy, Hà Nội </p>
        </div>
        <div class="col-md-8" style="padding-left:15px">
           <div class="row">
              <div class="col-md-4">
                <ul class="nav nav-pills nav-stacked">
                  <li><a href="#">Product for Mac</a></li>
                  <li><a href="#">Product for Windows</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                  <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">Product for Mac</a></li>
                    <li><a href="#">Product for Windows</a></li>
                  </ul>
                </div>
              <div class="col-md-4">
                <ul class="nav nav-pills nav-stacked">
                  <li><a href="#">Web analytics</a></li>
                  <li><a href="#">Presentations</a></li>          
                </ul>
              </div>
            </div>
              
        </div>
        
        <div class="col-md-12 navbar-text">
            <hr>
          
          <div class="row">
          <div style="display: inline-block" class="col-md-8" ><p>© 2019 NLMS TEAM - CMC Global Intern01<br>Bản quyền thuộc về CMC Global</p></div>
          <div class="col-md-4 fixed-bottom"><button type="button" class="btn btn-outline-info pull-right" (click)="an()"><i class="fa fa-arrow-down" aria-hidden="true"></i>Ẩn thông tin</button></div>
        </div>
        </div>
       
      </div>

      
      </div>
    
    <div *ngIf="divhien==0" class="container">
      
      <p class="navbar-text pull-left">© 2019 NLMS TEAM - CMC Global Intern01</p>
      
      <div class="pull-right">
          <nav class="nav">
              <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa fa-home" aria-hidden="true"></i>Trang chủ</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa fa-file-text" aria-hidden="true"></i>Tài liệu</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa fa-gavel" aria-hidden="true"></i>Điều khoản</a>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-info" (click)="hien()"><i class="fa fa-arrow-up center" aria-hidden="true"></i>Về chúng tôi</button>
                    
                </li>
              
            </nav>
          
      </div>
    </div>
    
    
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
